@media only screen and (max-width: 340px) {
  html {
    font-size: 100%;
  }
}

.visually-hidden { /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px; width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 10px minmax(300px, 5fr) 10px 1fr 1fr;
}

header > * {
  grid-column: 3/5;
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr 10px minmax(300px, 5fr) 10px 1fr 1fr;
}

.home > * {
  grid-column: 3/5;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 10px minmax(300px, 5fr) 10px 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "t t t t t . ."
    ". . . p . . .";
}

article .post-intro {
  grid-area: t;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 5fr) 1fr;
  background-color: rgb(255,247,243);
  margin: .6rem 0 .8rem 0;
}

article .post-title {
  grid-column: 2/3;
}

article h1.post-title {
  margin: .6rem 0 .4rem 0;
}

article .post-date {
  grid-column: 2/3;
}

.post-date {
  margin-bottom: .8rem;
}

.post-date span {
  font-size: .9rem;
  color: #777777;
}

article .post-body {
  grid-area: p;
}

article .post-body p:first-of-type {
  font-style: italic;
  font-size: 26px;
  line-height: 2;
}

article > figure {
  grid-column: 1 / -1;
  margin: 20px 0;
}

article > blockquote {
  grid-column: 3 / 5;
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black;
}

article > aside {
  grid-column: 5;
}

a {
  text-decoration: underline;
}

a:hover, a:focus {
  background-color: rgb(244,153,133);
  color: #fff;
  padding: 1px;
}